/**
 * Config
 */
// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swa')

$font-title = 'Playfair Display', cursive
$font-text = 'Source Sans Pro', sans-serif
$font-size-title = 10rem
$font-size-subtitle = 1.5rem
$font-size-text = 1rem

// Colors
$primary-color = #B9AE92

// Reset
*
    margin 0
    padding 0

/**
 * Body
 */
html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden

/**
 * Landing
 */
.landing
    position relative
    width 100vw
    height 100vh
    background-color #000000
    .text
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 10
        align-items center
        display flex
        flex-direction column
        h1
            font-family $font-title
            font-size $font-size-title
            letter-spacing 23px
            text-transform uppercase
            color $primary-color
        a
            text-decoration none
            font-family $font-title
            $font-size-subtitle
            letter-spacing 10px
            text-transform uppercase
            color $primary-color
            will-change opacity
            &:hover
                opacity 0.6
                transition 0.3s
                transition-timing-function ease-in-out
    .sewer-image
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 41vw
        img
            width 100%
            height auto
    .smoke-image
        position absolute
        top 0
        left 0
        right 0
        z-index 20
        width 100vw
        img
            width 100%
            height auto

/**
 * Cultural content
 */
.popUpInformation
    position absolute
    top 20%
    left 35%
    width 30%
    height auto
    border-radius 5px
    background-color #fff
    padding 20px
    h2
        margin-bottom 10px
        text-align center
        font-family $font-title
        font-size $font-size-subtitle
    p
        text-align center
        font-family $font-text
        font-size $font-size-text

.isVisible
    display none