/**
 * Config
 */
// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swa')

$font-title = 'Playfair Display', cursive
$font-text = 'Source Sans Pro', sans-serif
$font-size-title = 10rem
$font-size-subtitle = 1.5rem
$font-size-text = 1rem

// Colors
$primary-color = #B9AE92

// Reset
*
    margin 0
    padding 0

/**
 * Body
 */
html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden

/**
 * Landing
 */
.landing
    position relative
    width 100vw
    height 100vh
    background-color #000000
    .title
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        font-family $font-title
        font-size $font-size-title
        letter-spacing 23px
        text-transform uppercase
        color $primary-color
        z-index 10
    .sewer-image
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 41vw
        img
            width 100%
            height auto
    .smoke-image
        position absolute
        top 0
        left 0
        right 0
        width 100vw
        z-index 20
        img
            width 100%
            height auto
    .start-button
        position absolute
        left 50%
        bottom 100px
        transform translateX(-50%)
        text-decoration none
        font-family $font-title
        font-size $font-size-subtitle
        letter-spacing 10px
        text-transform uppercase
        color $primary-color
        z-index 30
        will-change opacity
        &:hover
            opacity 0.6
            transition 0.3s
            transition-timing-function ease-in-out

/**
 * Cultural content
 */
.popup-information
    position absolute
    top 30%
    left 50%
    transform translateX(-50%)
    width 65vw
    height 100vh
    border-radius 5px
    background-image url('../images/parchment.png')
    background-repeat no-repeat
    background-position top left
    z-index 100
    .text
        padding 80px 200px 20px 200px
        .close-button
            text-decoration none
            font-family $font-title
            font-size $font-size-text
            color #000000
            will-change opacity
            &:hover
                opacity 0.6
                transition 0.3s
                transition-timing-function ease-in-out
        h2
            margin 40px 0px 20px 0px
            font-family $font-title
            font-size $font-size-subtitle
        p
            width 40vw
            font-family $font-text
            font-size $font-size-text
            line-height 24px

.is-visible
    display none